.table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.table thead tr th {
  border-bottom: 1px solid grey;
  text-align: left;
  padding: 0.5rem 0;
}

.table tbody tr td {
  padding: 0.5rem 0;
}

.table tbody tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1);
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.info button {
  border: none;
  cursor: pointer;
}
