.formWrapper > *:not(:last-child) {
  /* border: 3px solid red; */
  padding: 1rem 0;
  border-bottom: 2px solid grey;
}

.formWrapper > *:last-child {
  margin-top: 1rem;
}

.formTitle {
  padding-bottom: 0.25rem;
}

.mainBtn {
  background-color: var(--color-primary);
  width: 100%;
  font-size: larger;
}
